<nav class="sidebar"
     [class.expanded]="isExpanded" 
     [class.collapsed]="!isExpanded"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()">

  <!-- Лого -->
  <div class="logo">
    <div class="logo-wrapper">
      <img src="logo (1).ico" alt="Logo" class="logo-img">
    </div>
    <span class="app-name">TransTrack</span>
  </div>

  <!-- Основно меню -->
  <ul class="menu">
    <!-- Начало -->
    <li routerLink="/" routerLinkActive="active">
      <img src="dashboard_icon.ico" alt="Icon" class="icon">
      <span class="menu-text">Начало</span>
    </li>

    <!-- Документи с подменю -->
    <li 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact: false }"
      (click)="toggleMenu('services')" 
      class="has-submenu"
    >
      <span class="icon">📂</span>
      <span class="menu-text">Документи</span>
      <span class="submenu-arrow">▼</span>
    </li>


    <!-- Подменю Документи -->
   <ul class="submenu" *ngIf="activeMenu === 'services'">
      <li routerLink="/drivers" routerLinkActive="active">
        <div class="submenu-line"></div>
        Шофьори
      </li>
      <li routerLink="/vehicles" routerLinkActive="active">
        <div class="submenu-line"></div>
        ППС
      </li>
      <li routerLink="/workers" routerLinkActive="active">
        <div class="submenu-line"></div>
        Работници
      </li>
    </ul>

    <!-- Отчет -->
    <li routerLink="/reports" routerLinkActive="active">
      <span class="icon">📊</span>
      <span class="menu-text">Отчет</span>
    </li>

    <!-- Админ -->
    <li routerLink="/admin" routerLinkActive="active">
      <span class="icon">⚙️</span>
      <span class="menu-text">Админ</span>
    </li>
  </ul>
</nav>