@use '@angular/material' as mat;
@use './styles/forms';
@use './styles/details';
@use './styles/documents';
@use './styles/list';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* полезно за full screen layouts (особено при Angular) */
app-root {
  display: block;
  min-height: 100vh;
}
